header { /* aligning all the elements in the header to make them center and adjust later*/
  align-items: center;
  justify-content: center;
  position: relative;
  height: 130px; 
  top: 10px;
  border-bottom: 1px solid #cdcdcd;
}

.account-info { /* adjusting now to the right side*/
  position: absolute;
  right: 20px;
  top: 20px;
}

.date { /* adjusting now to the left side*/
  position: absolute;
  font-weight: bold;
  left: 20px; 
  top: 15px;
}
.paper { /* adjusting to the left side of the header*/
  position: absolute;
  left: 20px; 
  top: 40px;
}
.logo img { /* logo stays in the middle like in the header and adjusts size with window*/
  max-width: 60%;
  height: auto;
  display: block;
  margin: auto;
}
main {
  max-width: 1500px;
  margin: auto;
  padding: 10px;
  padding-top: 30px;
}

.responsive-img { /* image changes with the page*/
  width: 100%;
  height: auto;
}

h2 { 
  font-size: 1.5rem;
  margin: 10px 0;
}

footer {
  width: 90%;
  border-top: 2px solid #000; /* footer border*/
  padding-top: 15px;
  margin: auto;
}


.grid-container { /* grid layout*/
  display: grid;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  row-gap: 20px;
}


.grid-container > div {
  border-right: 2px solid #cdcdcd; /* adds right border and spacing between grid items */
  padding-right: 10px;
}

section {
  border-bottom: 2px solid #cdcdcd;
  margin-left: 10px;
  padding: 10px;
}

section:last-child {
  border-bottom: none; /* removes bottom border from the last section */
}

/* mobile */
@media only screen and (max-width: 767px) {
  section div:last-child {
      border-bottom: none; /* remove border for last div in section */
  }
  .grid-container > div {
      border-right: none;  /* remove vertical borders for mobile */
  }
  /* hide date and paper info on small screens */
  .date { display: none }
  .paper { display: none }
  /* stack all items vertically */
  .item1 {grid-area: 1 / span 1; }
  .item2 {grid-area: 2 / span 1;}
  .item3 {grid-area: 3 / span 1;}
  .item4 {grid-area: 4 / span 1;}
  .item5 {grid-area: 5 / span 1;}
  .item6 {grid-area: 6 / span 1;}
}

/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) { 
  .date { display: none }
  .paper { display: none }
  .grid-container {
      grid-template-columns: 3fr 2fr; /* two column layout*/
  }
  .grid-container > div:nth-child(2n) {
      border-right: none; /* removes every second right border */
  }
  /* custom layout */
  .item1 {grid-area: 3 / span 2;}
  .item2 {grid-area: 3 / span 2;}
  .item3 {grid-area: 3 / span 3;}
  .item4 {grid-area: 1 / span 6;}
  .item5 {grid-area: 2 / span 6;}
  .item6 {grid-area: 6 / span 6;}
}

/*Desktop*/
@media only screen and (min-width: 1024px) {
  /* show date, paper info on large screens */
  .date { display: block }
  .paper { display: block }
  .grid-container {
      grid-template-columns: 1fr 1.5fr 1fr; /* 3 column layout middle column wider */
  }
  .grid-container > div:nth-child(3n) {
      border-right: none;
  }
  .article-card:nth-child(-n+3) {
    border-bottom: 2px solid #cdcdcd;
  }
  .article-card:nth-child(n+4):nth-child(-n+5) {
    border-bottom: none;
  }
  .article-card:last-child {
    border-bottom: none;
  }
  .item1 {grid-area: 2 / span 1;}
  .item2 {grid-area: 2 / span 3;}
  .item3 {grid-area: 1 / span 1;}
  .item4 {grid-area: 1 / span 2;}
  .item5 {grid-area: 2 / span 2;}
  .item6 {grid-area: 3 / span 2;}
}